{{#if error}}
  <div class="alert alert-danger mt-10" style="border-radius: 0;">{{error}}</div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger mt-10" style="border-radius: 0; ">{{text}}</div>
{{else}}

{{/each}}