{{#if success_msg}}
    <div class="alert text-center" style="margin-top: 10px; border-radius: 0; border-color: #131416; background: #d84545; color: #fff;">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger text-center" style="border-radius: 0; margin-top: 10px;">{{error_msg}}</div>
{{/if}}