<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand" style="color:#0be881">Stream Nation</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a href="/" class="nav-link" style="color:#0be881">Home</a>      
            </li>
            <li class="nav-item">
            <a href="/services" class="nav-link" style="color:#0be881">Services</a>
            </li>
            <li class="nav-item">
            <a href="/support" class="nav-link" style="color:#0be881">Customer Care</a>
            </li>
            <li class="nav-item">
            <a href="/shop" class="nav-link" style="color:#0be881">Shop Accessories</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
            <a href="/shop/add" class="nav-link" style="color:#0be881">Add Items</a>
            </li>
            <li class="nav-item">
            <a href="/blog" class="nav-link" style="color:#0be881">Blog</a>
            </li>
            <li class="nav-item">
            <a href="/faq" class="nav-link" style="color:#0be881">FAQ</a>
            </li>
        </ul>
        </div>
    </div>
</nav>