<header id="page-header-services2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center"> 
          <h1 class="text-shadow" style="margin-top:30%">Services</h1>
              <p class="text-shadow">Get the services needed for promoting your brand.</p>
            <div class="row" style="margin:0%">
               <div class="col-md-6">  
                <a href="#logosection"><button class="btn btn-dark btn-block"><i class="fas fa-pencil-alt"></i>
                  Logo Design</button>
                </a>
              </div>
              <div class="col-md-6">
                <a href="#overlaysection"><button class="btn btn-dark btn-block"><i class="fas fa-portrait"></i>
                  Overlay Design</button>
                </a>
              </div>
              <div class="col-md-6">
                <a href="#merchandisesection"><button class="btn btn-dark btn-block"><i class="fas fa-tshirt"></i>
                   Merchandise</button>
                </a>
              </div>
              <div class="col-md-6">
                 <a href="#tipsection"><button class="btn btn-dark btn-block"><i class="fas fa-lightbulb"></i>
                     Tips and tweaks</button>
                 </a>
              </div>
            </div>    
        </div>
      </div>
    </div>
  </header>

  <div class="text-center">
      <a name="logosection">
    <div class="sectionstream" id="sectionstream1" style="margin-bottom: 50px;">
        <div class="container cols">
            <div class="row-md-6">
                    <h1>Design a logo for promoting your channel</h1>
                    <p class="text-justify text-center">Contact our freelancers for designing a logo by submitting your preference.
                    </p>
                    <form style="border:2px solid #0be881" class="container">
                            <fieldset>
                                    <legend>Choose a type of logo</legend>
                                    <input type="radio" id="minimalist" 
                                        name="val-logo" value="minimalist" checked />
                                    <label for="minimalist">Minimalistic</label>                                    
                                    <input type="radio" id="creative" class="ml-2" 
                                    name="val-logo" value="creative" />
                                    <label for="creative">Creative</label>
                                    <input type="radio" id="gaming"  class="ml-2"
                                    name="val-logo" value="gaming" />
                                    <label for="gaming">Gaming</label>
                            </fieldset>
                        <div class="row input-group mb-3 ml-1 mr-1">
                            <p class="mr-3">Enter any more remarks</p>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            <button class="btn btn-success btn-block mt-4">Submit</button>
                        </div>
                    </form>
                    </div>
            </div>
            <div class="row"></div><h2 class="text-center">Some Sample Professional Logos</h2>
            </div>
            <div class="row-md-6 card-group" style="margin-bottom: 50px;">
                
                   <div class="card-logo col-md-2" style="padding:20px">
                     <img class="card-img-top" src="/img/logo1.jpg" alt="Card image cap">
                    </div>

                    <div class="card-logo col-md-2" style="padding:20px">
                        <img class="card-img-top" src="/img/logo2.jpg" alt="Card image cap">
                    </div>
                            
                    <div class="card-logo col-md-2" style="padding:20px">
                        <img class="card-img-top" src="/img/logo4.jpg" alt="Card image cap">
                    </div>

                    <div class="card-logo col-md-2" style="padding:20px">
                        <img class="card-img-top" src="/img/logo3.jpg" alt="Card image cap">
                    </div>

                    <div class="card-logo col-md-2" style="padding:20px">
                        <img class="card-img-top" src="/img/logo5.jpg" alt="Card image cap">
                    </div>

                    <div class="card-logo col-md-2" style="padding:20px">
                        <img class="card-img-top" src="/img/logo6.jpg" alt="Card image cap">
                    </div>
            </div>
        </a>
    </div>
    <div class="sectionstream" id="sectionstream2" style="margin-bottom: 20px;">
        <a name="overlaysection">
                <div class="container cols">
                        <div class="row-md-6">
                                <h1 class="text-center">Design an overlay for your channel</h1>
                                <p class="text-justify text-center">Contact our freelancers for designing an overlay by submitting your preference.
                                </p>
                                <form style="border:2px solid #0be881" class="container">
                                        <fieldset class="text-center">
                                                <legend class="text-center">Choose a type of overlay</legend>
                                                <input type="radio" id="minimalist" 
                                                    name="val-logo" value="minimalist" checked />
                                                <label for="minimalist">Minimalistic</label>                                    
                                                <input type="radio" id="creative" class="ml-2" 
                                                name="val-logo" value="creative" />
                                                <label for="creative">Creative</label>
                                                <input type="radio" id="gaming"  class="ml-2"
                                                name="val-logo" value="gaming" />
                                                <label for="gaming">Gaming</label>
                                        </fieldset>
                                    <div class="row input-group mb-3 ml-1 mr-1">
                                        <p class="mr-3">Enter any more remarks</p>
                                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                        <button class="btn btn-success btn-block mt-4">Submit</button>
                                    </div>
                                </form>
                                </div>
                        </div>
                        <div class="row" ></div><h2 class="text-center">Some Professional Overlay Designs</h2>
                        </div>
                        <div class="row-md-6 card-group" style="margin-bottom: 20px;">
                               <div class="card-logo col-md-4" style="padding:20px">
                                 <img class="card-img-top" src="/img/over1.jpg" alt="Card image cap">
                                </div>
            
                                <div class="card-logo col-md-4" style="padding:20px">
                                    <img class="card-img-top" src="/img/over2.jpg" alt="Card image cap">
                                </div>
                                        
                                <div class="card-logo col-md-4" style="padding:20px">
                                    <img class="card-img-top" src="/img/over3.jpg" alt="Card image cap">
                                </div>
                        </div>
        </a>
    </div>
    <div class="sectionstream" id="sectionstream2" style="margin-bottom: 50px;">
            <a name="merchandisesection">
                    <div class="container cols">
                            <div class="row-md-6">
                                    <h1 class="text-center">Merchandise</h1>
                                    <form style="border:2px solid #0be881" class="container">
                                            <fieldset class="text-center">
                                                    <legend class="text-center" class="text-center">Choose a type of Merchandise</legend>
                                                    <input type="checkbox" id="minimalist" 
                                                        name="val-logo" value="minimalist" checked />
                                                    <label for="minimalist">T-Shirt</label>                                    
                                                    <input type="checkbox" id="creative" class="ml-2" 
                                                    name="val-logo" value="creative" />
                                                    <label for="creative">Posters/Banners</label>
                                                    <input type="checkbox" id="gaming"  class="ml-2"
                                                    name="val-logo" value="gaming" />
                                                    <label for="gaming">Tag Lines</label>
                                            </fieldset>
                                        <div class="row input-group mb-3 ml-1 mr-1">
                                            <p class="mr-3">Provide Merchandise products</p>
                                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                            <button class="btn btn-success btn-block mt-4">Submit</button>
                                        </div>
                                    </form>
                            </div>
                            <div class="row-md-6 card-group" style="margin-bottom: 20px;">
                                <h2 class="text-center">Some Professional Merchandise products</h2>
                                   <div class="card-logo col-md-4" style="padding:20px">
                                     <img class="card-img-top" src="/img/merc1.jpg" alt="Card image cap">
                                    </div>
                
                                    <div class="card-logo col-md-4" style="padding:20px">
                                        <img class="card-img-top" src="/img/merc2.jpg" alt="Card image cap">
                                    </div>
                                            
                                    <div class="card-logo col-md-4" style="padding:20px">
                                        <img class="card-img-top" src="/img/merc3.jpg" alt="Card image cap">
                                    </div>
                            </div>
                    </div>
            </a>
        </div>