<!-- PAGE HEADER -->
  <header id="page-header-dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center"> 
          <h1 class="text-shadow" style="margin-top:30%">Dashboard</h1>
          <p class="text-shadow">Live you journey from Start to Pro Streamer.</p>
            <a href="#introsection"><button class="btn btn-dark"><i class="fa fa-info-circle"></i>
                Introduction</button>
            </a>
            <a href="#prerequisitesection"><button class="btn btn-dark"><i class="fa fa-check-circle"></i>
                Prerequisites</button>
            </a>
        </div>
      </div>
    </div>
  </header>

  <div class="text-center">
      <a name="introsection">
    <div class="sectionstream" id="sectionstream1">
        <div class="container cols">
            <div class="row-md-6">
                    <h1>Introduction : Why Live Stream?</h1>
                    <p class="text-justify">Live streaming refers to online streaming media simultaneously recorded and broadcast
                         in real time to the viewer. It is often simply referred to as streaming.
                            Live stream services encompass a wide variety of topics, from social media to video games. Apps such 
                            as Facebook Live, Periscope, and 17 include the streaming of scheduled promotions and celebrity events as 
                            well as streaming between users, as in videotelephony. Sites such as Twitch.tv have become popular outlets for 
                            watching people play video games, such as in eSports, Let's Play-style gaming, or speedrunning. 
                            User interaction via chat rooms forms a major component of live streaming. Platforms often include the ability to
                            talk to the broadcaster or participate in conversations in chat. An extreme example of viewer interfacing is 
                            the social experiment Twitch Plays Pokémon, where viewers collaborate to complete Pokémon games by typing in
                            commands that correspond to controller inputs.
                    </p>
            </div>
            <div class="row"></div><h1>Some professional live streamers</h1>
            </div>
            <div class="row-md-6 card-group">
                   <div class="card col-md-6" style="padding:20px">
                     <img class="card-img-top" src="/img/ninja.jpg" alt="Card image cap">
                     <div class="card-body">
                       <h5 class="card-title">Ninja</h5>
                       <p class="card-text text-justify">Richard Tyler Blevins, more commonly known by his online alias 
                           Ninja or NinjasHyper, is an American Twitch streamer and Internet personality. 
                           As of September 19, 2018, he is the most followed streamer on Twitch with over eleven million followers.
                    </div>
                   </div>
                   <div class="card col-md-6" style="padding:20px">
                     <img class="card-img-top" src="/img/shroud.jpg" alt="Card image cap">
                     <div class="card-body">
                       <h5 class="card-title">Shroud</h5>
                       <p class="card-text text-justify">Michael Grzesiek, professionally known as shroud, is a Canadian video game streamer and former professional Counter-Strike: Global Offensive player. He is known for playing Counter-Strike: Global Offensive and PlayerUnknown's Battlegrounds.</p>
                     </div>
                   </div>
            </div>
        
        </div>
        </a>
    </div>
    <div class="sectionstream" id="sectionstream2">
        <a name="prerequisitesection">
            <div class="container">
                    <h1 class="text-center">Prerequisites : How to Live Stream?</h1>
                    <p class="text-justify">
                        <ul>
                            <li>
                                    <span class="font-weight-bold">A single camera : </span>
                                    A consumer-level video camera like this one is fine for church services. You don’t need to spend $3,000 here; instead, spend $400 or $500 to get a fully functional camcorder that gets the job done and is easy to use. You may be attracted to a model with lots of bells and whistles (if so, go for it!), but all you really need is the camera’s basic functionality to get the broadcast out on the web.    
                            </li>
                            <li>
                                   <span class="font-weight-bold">A tripod : </span>
                                    It might seem like a pair of fairly steady hands would be sufficient, but that telltale, oh-so-slight shake is what distinguishes an amateur broadcast from a serious one. Buy a tripod and don’t think about it again. This one is lightweight and comes with a carrying case.    
                            </li>
                            <li>
                                    <span class="font-weight-bold">An encoding device : </span>
                                    To convert your video input into a digital format for playback on various devices, you’ll need an encoding device. For this you have two options: either a hardware encoder or a computer with a software encoder. Opinions vary greatly as to which option is better—and it depends on your needs, as well—but either one will do the trick. With the software option, you’ll also need a capture device—an adapter that goes between the camera and the computer so they can talk to each other.
                            </li>
                            <li>
                                    <span class="font-weight-bold">High-speed internet : </span>
                                    Internet access can sometimes be a challenge for mobile churches, but it’s a necessity for live streaming. Options include an ethernet connection, Wi-Fi, a 4G network, or a MiFi device, depending on the venue.    
                            </li>
                                </ul></p>
                </div>
        </a>
    </div>