<head>
    <style>
        body {
            background: #05c46b;
        }
    </style>

</head>

<div class="container" style="margin-top: 10px;">
    <iframe width="956" height="538" src="{{link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <a href="/videos/playlist" class="btn btn-lg btn-suc" style="background: #131416; border-radius: 0; color: #fff;"> Go Back </a>
</div>