<h2>List Of Videos</h2>

{{#each videos}}
    <form action="/videos/playlist/mainvideo" method="get">
        <input type="hidden" name="link" value="{{link}}">
        <input type="submit" class="btn btn-success btn-block mb-2" name="video" value="{{video}}">
    </form>
{{else}}
    <p>No Videos Yet</p>
{{/each}}